.wrapper {
  height: 100%;
}

.calendarMonth {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  h4 {
    color: #065ffd;
  }
}
