.homeConnection {
  width: 35%;
  border: 1px solid;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
  text-align: center;
  margin: auto;
}

.homeConnectionTitle {
  margin-bottom: 50px;
}
